<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style_templates.css">

</head>
<body>
    <header class="jumbotron mb-0">
        <h1 class="display-4">Pizza a la Carta</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-center" style="background-color: black;">
        <a class="navbar-brand" href="/templates/base.html">Inicio</a>
        <a class="navbar-brand" href="/templates/menu.html">Menú</a>
        <a class="navbar-brand" href="promociones.html">Promociones</a>
        <a class="navbar-brand" href="/templates/contact.html">Contacto</a>
    
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/templates/login.html">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/register.html">REGISTRO</a>
            </li>
        </ul>
    </nav>

        <div style="display: flex; justify-content: center; align-items: center;">
            <hr style="flex: 1; border: 7px solid #577796; margin-top:40px; margin-bottom:30px">
            <span style="padding: 0 10px; color: #577796 ;font-size: 33px;margin-top:30px;margin-bottom:26px ;">INICIAR SESION</span>
            <hr style="flex: 1; border: 7px solid #577796;margin-top:40px; margin-bottom:30px">
        </div>
        <form action="/login/submit" method="post">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>

            <!-- Campo de contraseña más grande y alineado a la izquierda -->
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" class="btn btn-primary btn-block" value="INICIAR SESION">
        </form>

    </div>
</body>
</html>
