<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza a la Carta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"  href="/static/css/style_templates.css">
</head>
<body>
    <header style="background-color: black; text-align: center; padding: 8px; display: flex; align-items: center; justify-content: center; height: 100%;">
        <div style="display: flex; align-items: center;">
            <img src="/static/images/logo.png" alt="Logo" style="width: 40px; height: 40px; margin-right: 7px;">
            <h1 style="margin: 0;">LE PIZZERI</h1>
        </div>
    </header>

    <header class="jumbotron mb-0" style="background-image: url('/static/images/heaader.png'); background-size: cover; text-align: center; color: white;">
    </header> 

    <nav class="navbar navbar-expand-lg navbar-dark justify-content-center" style="background-color: black">
        <a class="navbar-brand" href="/templates/base.html">Inicio</a>
        <a class="navbar-brand" href="/templates/menu.html">Menú</a>
        <a class="navbar-brand" href="promociones.html">Promociones</a>
        <a class="navbar-brand" href="/templates/contact.html">Contacto</a>
        <a class="navbar-brand" href="/templates/seccion_pedidos.html" id="navbar">Pedidos</a>

        <div id="navbar-nav">
            <ul class="navbar-nav ml-4">
                <li class="nav-item">
                    <a class="nav-link" href="/templates/login.html">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/register.html">Regístrate</a>
                </li>
            </ul>
        </div>

        <div id="success-message" style="display: none;">
            <div id="user-container" style="border: 1px solid #dc3545; padding: 3px; background-color: #dc3545; border-radius: 4px; margin-left:6px;">
                <span id="username" style="color: white; font-size: 14px; font-weight: bold;"></span>
            </div>
        </div>

        <div id="logout-container" style="display: none; margin-left: 10px;">
            <span id="username" style="color: white;"></span>
            <button onclick="cerrar_sesion()" class="btn btn-danger btn-sm">Cerrar Sesión</button>
        </div>
    </nav>

    

<div class="scroll-container">
    <div class="scroll-content">
        <div class="container" style="justify-content: center;background-color:black;">
            <div class="row">
                <!-- Contenido izquierdo -->
                <div class="col-md-3 mt-4" style="position: fixed;border-right:1px solid rgb(25, 25, 25) ;height:100%">
                    <button onclick="mostrarMenu(1)" class="btn btn-danger btn-sm">MENU INDIVIDUAL</button>
                    <img src="https://s4d-images.telepizza.es/Coupons/Original/Menu_Individual-I(I)01-31.jpg" style="width: 110px; height: 110px; margin-left: 36px;">
                    <br><br><br><br>
                    <button onclick="mostrarMenu(2)" class="btn btn-danger btn-sm" style="width: 142px;">MENU PAREJA</button>
                    <img src="https://s4d-images.telepizza.es/Coupons/Original/_Menu_para_2-I(2P)17-19.jpg" style="width: 110px; height: 110px; margin-left: 35px;">
                    <br><br><br>
                    <button onclick="mostrarMenu(3)" class="btn btn-danger btn-sm" style="width: 142px;">MENU TRIPLE</button>
                    <img src="https://s4d-images.telepizza.es/Coupons/Original/El_Triple__3_familiares_desde_12_95%E2%82%AC_c_u-IAB_3P09-55.jpg" style="width: 110px; height: 110px; margin-left: 36px;">
                </div>

                <!-- Contenido dinámico de los menús -->
                <div class="col-md-9" style="margin-left: 410px; margin-top:20px;"> <!-- Ajusta según sea necesario -->
                    <!-- Contenido del menú -->
                    <div id="menu-container" style="margin-right: 0px; font-size: 20px;"></div>
                </div>

            <!-- Contenedor de menú extra -->
                <div class="col-md-9" style="margin-left: 410px; margin-top:20px;"> <!-- Ajusta según sea necesario -->
                    <!-- Contenido del menú -->
                    <div id="menu-extra-container" style="margin-right: 0px; font-size: 20px;"></div>
                </div>           
                </div>

        </div>
    </div>

    <!-- Imagen de pizza -->
    <img id="pizza-images" src="/static/images/id.png" style="display:none; position: fixed; margin-left: 350px; margin-top: 0px; width: 270px; height: 120px; border-radius: 5px;">

    <!-- Número de pedido -->
    <div id="numero-pedido" style=""></div>
</div>


    <script>
function limitarSeleccion() {
    const menu1 = document.getElementById("1");
    const menu2 = document.getElementById("2");
    const menu3 = document.getElementById("3");

    let currentMenu;
    if (menu1 && (menu1.style.display === "" || menu1.style.display === "block")) {
        currentMenu = menu1;
    } else if (menu2 && menu2.style.display === "block") {
        currentMenu = menu2;
    } else if (menu3 && menu3.style.display === "block") {
        currentMenu = menu3;
    }

    if (currentMenu) {
        const checkboxes = currentMenu.querySelectorAll('.pizza-checkbox, .bebida-checkbox, .postre-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                const checkboxesSeleccionados = currentMenu.querySelectorAll(`.${checkbox.className}:checked`);
                const maxSeleccion = parseInt(currentMenu.id);
                if (checkboxesSeleccionados.length > maxSeleccion) {
                    checkbox.checked = false;
                }
            });
        });
    }
}

        function mostrarMenu(id) {
            // Obtén la referencia al contenedor del menú
            const menuContainer = document.getElementById("menu-container");

            menuContainer.style.display = "block";



            // Reinicia el contenido del contenedor
            menuContainer.innerHTML = "";

            // Genera el contenido del menú según el tipo seleccionado
            
            menuContainer.innerHTML = `
                <div id="${id}" style="font-size:18px;">
                    <div style="float: left; width: 30%; ">
                        <label for="pizza" style="color:#dc3545;">Selecciona tus pizzas (máximo ${id}):</label>
                        {% for articulo in articulos if articulo.familia_id == 1 %}
                            <div style=" margin-top: 8px;">
                                <input type="checkbox" name="selected_pizzas" value="{{ articulo.id_articulo }}" precio={{ articulo.precio }} class="pizza-checkbox">
                                <span style="color: white;">{{ articulo.descripcion }}</span>
                            </div>
                        {% endfor %}
                    </div>

                    <div style="float: left; width: 30%;">
                        <label for="bebida" style= "color:#dc3545;">Selecciona tus bebidas (máximo${id}):</label>
                        {% for articulo in articulos if articulo.familia_id == 2 %}
                            <div style=" margin-top: 8px;">
                                <input type="checkbox" name="selected_bebidas" value="{{ articulo.id_articulo }}" precio={{ articulo.precio }} class="bebida-checkbox">
                                <span style="color: white;">{{ articulo.descripcion }}</span>
                            </div>
                        {% endfor %}
                    </div>

                    <div style="float: left; width: 30%; margin-right:50px;">
                        <label for="postre" style="color:#dc3545;">Selecciona tus postres (máximo ${id}):</label>
                        {% for articulo in articulos if articulo.familia_id == 3 %}
                            <div style=" margin-top: 8px;">
                                <input type="checkbox" name="selected_postres" value="{{ articulo.id_articulo }}" precio="{ articulo.precio }} class="postre-checkbox">
                                <span style="color: white;">{{ articulo.descripcion }}</span>
                            </div>
                        {% endfor %}
                    </div>

                    <div style="clear: both;"></div>

                    <button onclick="agregar(${id})" id="agregar" class="btn btn-danger btn-sm" style="margin-left:250px;">AGREGAR</button>
                    <button onclick="send()" class="btn btn-danger btn-sm">ENVIAR</button>
                </div>
            `;

            // Muestra el menú correspondiente
            document.getElementById(id).style.display = "block";
            // Llama a la función para limitar la selección
            limitarSeleccion();

        }
        
        function agregar(id){
            const menuExtraContainer = document.getElementById("menu-extra-container");
            menuExtraContainer.innerHTML += "";  // Concatenar el nuevo contenido
            menuExtraContainer.style.display = "block";


            // Genera el contenido del menú según el tipo seleccionado
            
            menuExtraContainer.innerHTML = `
                <div id="${id}" style="font-size:18px;margin-top:80px;">
                    <div style="float: left; width: 30%; ">
                        <label for="pizza" style="color:#dc3545;">Selecciona tus pizzas (máximo ${id}):</label>
                        {% for articulo in articulos if articulo.familia_id == 1 %}
                            <div style=" margin-top: 8px;">
                                <input type="checkbox" name="selected_pizzas_extras" value="{{ articulo.id_articulo }}" precio="{{ articulo.precio }}" class="pizza-checkbox">
                                <span style="color: white;">{{ articulo.descripcion }}</span>
                            </div>
                        {% endfor %}
                    </div>
            
                    <div style="float: left; width: 30%;">
                        <label for="bebida" style= "color:#dc3545;">Selecciona tus bebidas (máximo${id}):</label>
                        {% for articulo in articulos if articulo.familia_id == 2 %}
                            <div style=" margin-top: 8px;">
                                <input type="checkbox" name="selected_bebidas_extras" value="{{ articulo.id_articulo }}" precio="{{ articulo.precio }}" class="bebida-checkbox">
                                <span style="color: white;">{{ articulo.descripcion }}</span>
                            </div>
                        {% endfor %}
                    </div>
            
                    <div style="float: left; width: 30%; margin-right:50px;">
                        <label for="postre" style="color:#dc3545;">Selecciona tus postres (máximo ${id}):</label>
                        {% for articulo in articulos if articulo.familia_id == 3 %}
                            <div style=" margin-top: 8px;">
                                <input type="checkbox" name="selected_postres_extras" value="{{ articulo.id_articulo }}" precio="{{ articulo.precio }}" class="postre-checkbox">
                                <span style="color: white;">{{ articulo.descripcion }}</span>
                            </div>
                        {% endfor %}
                    </div>
            
                    <div style="clear: both;"></div>
            
                    <button onclick="agregar(${id})" id="agregar" class="btn btn-danger btn-sm" style="margin-left:250px;" >AGREGAR</button>
                    <button onclick="send()" class="btn btn-danger btn-sm">ENVIAR</button>
                </div>
            `;
            document.getElementById(id).style.display = "block";
            // Llama a la función para limitar la selección
            limitarSeleccion();
        }
        
        let pedidoCounter = 1;

        async function send() {
            const selectedPizzas = document.querySelectorAll('input[name="selected_pizzas"]:checked');
            const selectedBebidas = document.querySelectorAll('input[name="selected_bebidas"]:checked');
            const selectedPostres = document.querySelectorAll('input[name="selected_postres"]:checked');

            const selectedPizzasExtras = document.querySelectorAll('input[name="selected_pizzas_extras"]:checked');
            const selectedBebidasExtras = document.querySelectorAll('input[name="selected_bebidas_extras"]:checked');
            const selectedPostresExtras = document.querySelectorAll('input[name="selected_postres_extras"]:checked');

            const selectedPizzasIds = Array.from(selectedPizzas).map(checkbox => parseInt(checkbox.value));
            const selectedBebidasIds = Array.from(selectedBebidas).map(checkbox => parseInt(checkbox.value));
            const selectedPostresIds = Array.from(selectedPostres).map(checkbox => parseInt(checkbox.value));

            const selectedPizzasExtrasIds = Array.from(selectedPizzasExtras).map(checkbox => parseInt(checkbox.value));
            const selectedBebidasExtrasIds = Array.from(selectedBebidasExtras).map(checkbox => parseInt(checkbox.value));
            const selectedPostresExtrasIds = Array.from(selectedPostresExtras).map(checkbox => parseInt(checkbox.value));

            const selectedIds = selectedPizzasIds.concat(selectedBebidasIds, selectedPostresIds, selectedPizzasExtrasIds, selectedBebidasExtrasIds, selectedPostresExtrasIds);


            // En algún lugar de tu código donde se crea un nuevo pedido
            const currentPedidoId = pedidoCounter;
            pedidoCounter++;
            

            // Obtén el valor del menú seleccionado
            const menuType = getMenuType();

            // Itera sobre cada artículo seleccionado y envía una solicitud separada
            for (const id of selectedIds) {
                const pedidoData = {
                    id_pedido: currentPedidoId,
                    id_user: parseInt(getCookie("user_id")),
                    id_articulo: id,
                    cantidad: 1,
                    total: 1,
                    menu: menuType, // Establece el tipo de menú en función de la selección
                };

                // Envía la solicitud y maneja la respuesta
                const response = await fetch('http://127.0.0.1:8000/pedido/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(pedidoData),
                });

                // Maneja la respuesta según sea necesario para cada artículo
                const result = await response.json();
                console.log(result);
            }

            // Muestra un mensaje de éxito
            const numeroPedido = document.getElementById("numero-pedido");
            numeroPedido.innerHTML = currentPedidoId;
            numeroPedido.style.display = "block";

            // Muestra la imagen de la pizza
            const pizzaImage = document.getElementById("pizza-images");
            pizzaImage.style.display = "block";

            // Oculta el menú
            const menuContainer = document.getElementById("menu-container");
            menuContainer.style.display = "none";

            // Oculta el menú extra
            const menuExtraContainer = document.getElementById("menu-extra-container");
            menuExtraContainer.style.display = "none";

            // q se redirija y se pueda ver el pedido realizado
            window.location.href = "/pedido/get_id/" + currentPedidoId;
            
        }

        function getMenuType() {
            // Obtén el valor del menú seleccionado
            const menu1 = document.getElementById("1");
            const menu2 = document.getElementById("2");
            const menu3 = document.getElementById("3");

            if (menu1 && (menu1.style.display === "" || menu1.style.display === "block")) {
                return 1; // Menú individual
            } else if (menu2 && menu2.style.display === "block") {
                return 2; // Menú pareja
            } else if (menu3 && menu3.style.display === "block") {
                return 3; // Menú triple
            }

            return 0; // Valor por defecto o error
        }

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>
</body>
</html>
