<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style_templates.css">
    <title>Pizza a la Carta</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Function to get a cookie value by name
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            const username = getCookie("username");

            // Get the elements
            const userContainer = document.getElementById("success-message");
            const usernameElement = document.getElementById("username");
            const navbarNav = document.getElementById("navbar-nav");
            const logoutContainer = document.getElementById("logout-container");

            if (username !== "") {
                // If a user is logged in, display the username and hide the navigation bar
                userContainer.style.display = "block";
                usernameElement.innerText = username;
                navbarNav.style.display = "none";
                logoutContainer.style.display = "block";
                
            } else {
                // If no user is logged in, hide the user-container and show the navigation bar
                userContainer.style.display = "none";
                navbarNav.style.display = "block";
                logoutContainer.style.display = "none";
            }
        });

    </script>

</head>
<body>
    <header class="jumbotron mb-0">
        <h1 class="display-4">Pizza a la Carta</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark justify-content-center" style="background-color: black;">
        <a class="navbar-brand" href="/templates/base.html">Inicio</a>
        <a class="navbar-brand" href="/templates/menu.html">Menú</a>
        <a class="navbar-brand" href="promociones.html">Promociones</a>
        <a class="navbar-brand" href="/templates/contact.html">Contacto</a>
    
        <ul class="navbar-nav" id="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/templates/login.html">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/register.html">REGISTRO</a>
            </li>
        </ul>

        <div id="success-message" style="display: none; margin-left: 70px;">
        <div id="user-container" style="border: 1px solid #577796; padding: 10px;">
            <span id="username" style="color: white;"></span>
        </div>
        </div>
        
        <div id="logout-container" style="display: none; margin-left: 10px;">
            <div id="user-container" style="border: 1px solid #577796; padding: 10px;">
                <span id="username" style="color: white;"></span>
            <a href="/templates/logout.html">Cerrar Sesión</a>
            </div>
        </div>


    </nav>

    <div class="scroll-container">
    <div class="scroll-conten">
    <div class="container">
        <div class="promocion">
            <div style="display: flex; justify-content: center; align-items: center;">
                <hr style="flex: 1; border: 7px solid #577796; ">
                <span style="padding: 0 10px; color: #577796 ;font-size: 33px; ;">¡PROMOCIÓN DE LA SEMANA!</span>
            <hr style="flex: 1; border: 7px solid #577796;">
            </div>
            <img src="/static/images/pizza_promocion.png" alt="Promoción de la semana" width="700px" height ="425px" style=" margin-left:350px;margin-top: 20px;">
            <p>Esta semana, disfruta de nuestra deliciosa Pizza Barrosa a mitad de precio. ¡No te lo pierdas!</p>
            <p> Creada por uno de nuestos clientes</p>
            <p>¡Promoción válida hasta el 15 de febrero!</p>
        </div>

    </div>
</body>
</html>
