<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style_templates.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Function to get a cookie value by name
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            const username = getCookie("username");

            // Get the elements
            const userContainer = document.getElementById("success-message");
            const usernameElement = document.getElementById("username");
            const navbarNav = document.getElementById("navbar-nav");
            const logoutContainer = document.getElementById("logout-container");
            const navbar = document.getElementById("navbar");

            if (username !== "") {
                // If a user is logged in, display the username and hide the navigation bar
                userContainer.style.display = "block";
                usernameElement.innerText = username;
                navbarNav.style.display = "none";
                logoutContainer.style.display = "block";
                navbar.style.display = "block";

                
            } else {
                // If no user is logged in, hide the user-container and show the navigation bar
                userContainer.style.display = "none";
                navbarNav.style.display = "block";
                logoutContainer.style.display = "none";
                navbar.style.display = "none";

            }
        });
        function cerrar_sesion() {
            document.cookie = "user_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "/templates/login.html";
        } 


    </script>
</head>
<body>
<header style="background-color: black; text-align: center; padding: 8px; display: flex; align-items: center; justify-content: center; height: 100%;">
    <div style="display: flex; align-items: center;">
        <img src="/static/images/logo.png" alt="Logo" style="width: 40px; height: 40px; margin-right: 7px;">
        <h1 style="margin: 0;">LE PIZZERI</h1>
    </div>
</header>

    <header class="jumbotron mb-0" style="background-image: url('/static/images/heaader.png'); background-size: cover; text-align: center; color: white;">
    </header> 

<nav class="navbar navbar-expand-lg navbar-dark justify-content-center" style="background-color: black">
    <a class="navbar-brand" href="/templates/base.html">Inicio</a>
    <a class="navbar-brand" href="/templates/menu.html">Menú</a>
    <a class="navbar-brand" href="promociones.html">Promociones</a>
    <a class="navbar-brand" href="/templates/contact.html">Contacto</a>
    <a class="navbar-brand" href="/templates/seccion_pedidos.html" id="navbar">Pedidos</a>
    
    <div id="navbar-nav">
        <ul class="navbar-nav ml-4">
            <li class="nav-item">
                <a class="nav-link" href="/templates/login.html">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/register.html">Regístrate</a>
            </li>
        </ul>
    </div>

    <div id="success-message" style="display: none;">
        <div id="user-container" style="border: 1px solid #dc3545; padding: 3px; background-color: #dc3545  ; border-radius: 4px; margin-left:6px;">
            <span id="username" style="color: white; font-size: 14px; font-weight: bold;"></span>
        </div>
    </div>

    <div id="logout-container" style="display: none; margin-left: 10px;">
        <span id="username" style="color: white;"></span>
        <button onclick="cerrar_sesion()" class="btn btn-danger btn-sm">Cerrar Sesión</button>
    </div>
</nav>
    
    <div class="scroll-container">
    <div class="scroll-conten">
    <div class="container" style="background-color:black;">
        
    <div class="menu-item">
        <a href="/templates/pizza_personalizada.html">
            <button class="btn btn-primary"> CREAR PEDIDOS </button>
            <img src="https://cdn-icons-png.flaticon.com/512/5220/5220625.png" alt="pizza" width="115" height="115">
        </a>
    </div>

    <div class="menu-item">
        <a href="/templates/pizza_personalizada/ver_pedidos.html">
            <button class="btn btn-primary"> VER PEDIDOS </button>
            <img src="https://cdn-icons-png.flaticon.com/512/2558/2558162.png" alt="pizza" width="110" height="110">

        </a>
    </div>

    <div class="menu-item">
        <a href="/templates/pizza_personalizada/eliminar_pedidos.html">
            <button class="btn btn-primary"> ELIMINAR PEDIDOS </button>
            <img src="https://cdn-icons-png.flaticon.com/512/2037/2037541.png" alt="pizza" width="88" height="90">
        </a>
    </div>

    <div class="menu-item">
        <a href="/templates/pizza_personalizada/modificar_pedidos.html">
            <button class="btn btn-primary"> MODIFICAR PEDIDOS </button>
            <img src="https://cdn-icons-png.flaticon.com/512/5816/5816288.png" alt="pizza" width="115" height="115">
        </a>
    </div> 

    </div>
    </div>
    </div>
</body>