<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes de Pizza Barbacoa</title>
    <link rel="stylesheet" href="/static/css/style_templates.css">
</head>
<body>
    <header>
        <h1>Ingredientes de Pizza Barbacoa</h1>
    </header>

    <nav>
        <a href="/templates/base.html">Inicio</a>
        <a href="/templates/menu.html">Menú</a>
        <a href="/templates/promociones.html">Promociones</a>
        <a href="/templates/contact.html">Contacto</a>
    </nav>

    <div class="container">
        <h3>Ingredientes</h3>
        <ul>
            <li>Masa de pizza</li>
            <li>Salsa de barbacoa</li>
            <li>Queso mozzarella</li>
            <li>Carne de cerdo desmenuzada</li>
            <li>Cebolla roja</li>
            <li>Maíz</li>
        </ul>

        <h3>Descripción</h3>
        <p>La Pizza Barbacoa es una deliciosa pizza con sabores ahumados y un toque de dulzura. Se prepara con una base de masa de pizza cubierta con salsa de barbacoa, queso mozzarella, carne de cerdo desmenuzada, cebolla roja y maíz. Los ingredientes se combinan para darle a esta pizza un sabor característico de barbacoa que te hará volver por más.</p>

        <h3>Precio</h3>
        <span>$14.99</span>
    </div>
</body>
</html>
