<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes de Pizza Pepperoni</title>
    <link rel="stylesheet" href="/static/css/style_templates.css">
</head>
<body>
    <header>
        <h1>Ingredientes de Pizza Pepperoni</h1>
    </header>

    <nav>
        <a href="/templates/base.html">Inicio</a>
        <a href="/templates/menu.html">Menú</a>
        <a href="/templates/promociones.html">Promociones</a>
        <a href="/templates/contact.html">Contacto</a>
    </nav>

    <div class ="container">
        <h3>Ingredientes</h3>
        <ul>
            <li>Masa de pizza</li>
            <li>Salsa de tomate</li>
            <li>Queso mozzarella</li>
            <li>Pepperoni (salchicha de cerdo)</li>
            <li>Orégano</li>
            <li>Aceite de oliva</li>
        </ul>

        <h3>Descripción</h3>
        <p>La Pizza Pepperoni es conocida por su abundante capa de pepperoni, una salchicha de cerdo picante que se dora y se vuelve crujiente en el horno. Se combina con la clásica base de masa de pizza y salsa de tomate, y se cubre con queso mozzarella. Se sazona con orégano y un toque de aceite de oliva para darle un sabor inconfundible.</p>

        <h3>Precio</h3>
        <span>$12.99</span>
    </div>
</body>
</html>
