<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes de Pizza Vegetariana</title>
    <link rel="stylesheet" href="/static/css/style_templates.css">
</head>
<body>
    <header>
        <h1>Ingredientes de Pizza Vegetariana</h1>
    </header>

    <nav>
        <a href="/templates/base.html">Inicio</a>
        <a href="/templates/menu.html">Menú</a>
        <a href="/templates/promociones.html">Promociones</a>
        <a href="/templates/contact.html">Contacto</a>
    </nav>

    <div class="container">
        <h3>Ingredientes</h3>
        <ul>
            <li>Masa de pizza</li>
            <li>Salsa de tomate</li>
            <li>Queso mozzarella</li>
            <li>Pimientos rojos</li>
            <li>Champiñones</li>
            <li>Cebolla</li>
            <li>Aceitunas negras</li>
        </ul>

        <h3>Descripción</h3>
        <p>La Pizza Vegetariana es una opción deliciosa y llena de color para los amantes de las verduras. Se prepara con una base de masa de pizza cubierta con salsa de tomate, queso mozzarella y una variedad de verduras frescas como pimientos rojos, champiñones, cebolla y aceitunas negras. Esta pizza es perfecta para aquellos que prefieren una opción sin carne pero llena de sabor.</p>

        <h3>Precio</h3>
        <span>$11.99</span>
    </div>
</body>
</html>
