<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza a la Carta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"  href="/static/css/style_templates.css">
</head>
<body>
<header style="background-color: black; text-align: center; padding: 8px; display: flex; align-items: center; justify-content: center; height: 100%;">
    <div style="display: flex; align-items: center;">
        <img src="/static/images/logo.png" alt="Logo" style="width: 40px; height: 40px; margin-right: 7px;">
        <h1 style="margin: 0;">LE PIZZERI</h1>
    </div>
</header>

    <header class="jumbotron mb-0" style="background-image: url('/static/images/heaader.png'); background-size: cover; text-align: center; color: white;">
    </header> 


    <nav class="navbar navbar-expand-lg navbar-dark justify-content-center" style="background-color: black">
        <a class="navbar-brand" href="/templates/base.html">Inicio</a>
        <a class="navbar-brand" href="/templates/menu.html">Menú</a>
        <a class="navbar-brand" href="promociones.html">Promociones</a>
        <a class="navbar-brand" href="/templates/contact.html">Contacto</a>
        <a class="navbar-brand" href="/templates/seccion_pedidos.html" id="navbar">Pedidos</a>

        <div id="navbar-nav">
        <ul class="navbar-nav ml-4">
            <li class="nav-item">
                <a class="nav-link" href="/templates/login.html">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/register.html">Regístrate</a>
            </li>
        </ul>
        </div>

        <div id="success-message" style="display: none;">
            <div id="user-container" style="border: 1px solid #dc3545; padding: 3px; background-color: #dc3545  ; border-radius: 4px; margin-left:6px;">
                <span id="username" style="color: white; font-size: 14px; font-weight: bold;"></span>
            </div>
        </div>

        <div id="logout-container" style="display: none; margin-left: 10px;">
            <span id="username" style="color: white;"></span>
        <button onclick="cerrar_sesion()" class="btn btn-danger btn-sm">Cerrar Sesión</button>
        </div>
    </nav>    
    <div class="scroll-container">
    <div class="scroll-contt">
    <div class="container" style="background-color:black;">
    <button onclick="window.history.back()" class="btn btn-danger btn-sm">Volver atras</button>
    <div class="container mt-4">
        <div style="display: flex; justify-content: center; align-items: center;">
            <hr style="flex: 1; border: 3px solid red; ">
            <span style="padding: 0 10px; color: red ;font-size: 33px;">Detalles del Pedido</span>
            <hr style="flex: 1; border: 3px solid red;">
        </div>


        <h1 class="mb-4"></h1>
        <ul class="list-group">
            <li class="list-group-item" style="background-color: rgb(201, 46, 46); color: white;" >
                <strong>ID del Pedido:</strong> {{ pedido_compuesto.id_pedido }}<br>
                <strong>Precio Total:</strong> ${{ pedido_compuesto.get_pvp() }}<br><br>
                <strong>Detalles sobre el Pedido:</strong><br>
                <ul class="list-group">
                {% for linea in pedido_compuesto.lineas_pedido %}
                    <li class="list-group-item" style="background-color: rgb(201, 46, 46); color: white;">
                        <strong>Artículo:</strong> {{ linea.articulo.descripcion }}<br>
                        <strong>Cantidad:</strong> {{ linea.cantidad }}<br>
                        <strong>Precio Unitario:</strong> ${{ linea.articulo.pvp }}<br>
                        <strong>Subtotal:</strong> ${{ linea.get_pvp() }}<br>
                    </li>
                {% endfor %}
            </ul>

            </li>
        </ul>
    </div>
    </div>
    </div>
    </div>
    
</body>
</html>
